[Desktop Entry]
Name=Kubux AI Image Generator
Comment=AI-powered image creation tool
Exec=kubux-ai-image-generator
Icon=kubux-ai-image-generator
Terminal=false
Type=Application
Categories=Graphics;Photography;
Keywords=wallpaper;AI;generator;background;
StartupNotify=true
StartupWMClass=kubux-ai-image-generator

[Desktop Action TogetherAI]
Name=Kubux AI Image Generator - TogetherAI
Exec=kubux-ai-image-generator

[Desktop Action OpenRouter]
Name=Kubux AI Image Generator - OpenRouter
Exec=kubux-ai-image-generator-or

